body {
  max-width: 1440px;
  margin: 0px auto;
  padding: 0px 50px;
}

.nav-bar {
  max-width: 1440px;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-header {
  font-size: 3rem;
  font-weight: 700;
}
.btn-primary {
  padding: 20px 40px;
  border-radius: 8px;
  font-size: 1.25rem;
  font-weight: 600;
  cursor: pointer;
  transition: 0.7s;
}
.btn-primary:hover {
  background-color: #fff;
  color: black;
}
/* banner-section */
.banner {
  background-image: url(assets/Hero-bg.png);
  text-align: center;
  padding: 20px 0px;
}
.hero {
  max-width: 700px;
  margin: 0px auto;
}
.banner-header {
  font-size: 3rem;
  font-weight: 700;
}
.hero-text {
  font-size: 1.25rem;
  font-weight: 500;
  color: rgba(13, 19, 33, 1);
}
.btn-secendary {
  padding: 20px 40px;
  border-radius: 8px;
  font-size: 1.25rem;
  font-weight: 600;
  background-color: black;
  color: white;
  cursor: pointer;
  transition: 0.7s;
}
.btn-secendary:hover {
  color: black;
  background-color: #fff;
}
/* about-section */
.about {
  background-color: rgba(13, 19, 33, 0.02);
  max-width: 1440px;
  margin: 0px auto;
}
.about-section {
  padding: 80px 98px;
  text-align: center;
}
.about-header {
  font-size: 2.5rem;
  font-weight: 700;
}
.about-section-text {
  max-width: 780px;
  margin: 20px auto;
  font-size: 1.25rem;
  font-weight: 500;
  color: rgba(13, 19, 33, 1);
}
/* about-card */

.about-card {
  background-color: #fff;
  padding: 3rem 3.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about-card-2 {
  background-color: #fff;
  padding: 3rem 3.8rem;
  display: flex;
  align-items: center;
  gap: 50px;
}
.about-card-left {
  max-width: 300px;
  text-align: left;
}
.about-card-right-2 {
  max-width: 500px;
  text-align: left;
}

.about-card-header-text {
  font-size: 2rem;
  font-weight: bold;
}
.about-card-text {
  font-size: 1-5rem;
  font-weight: 500;
}
.btn-card {
  padding: 12px 25px;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 7px;
  cursor: pointer;
  transition: 0.7s;
}
.btn-card:hover {
  color: black;
  background-color: #fff;
}

/* career-section */

.career-section {
  max-width: 1400px;
  margin: 40px auto;
  text-align: center;
}
.career-header {
  font-size: 2rem;
  font-weight: 900;
}
.career-text {
  max-width: 600px;
  font-size: 1rem;
  font-weight: 500;
  margin: 0px auto;
}
.iframe {
  border: 1px solid rgba(13, 19, 33, 0.2);
  padding: 40px;
  border-radius: 10px;
  width: 900px;
  height: 600px;
  margin-top: 40px;
}

/* current-target-section */

.current-target {
  max-width: 1440px;
  margin: 100px auto;
}
.current {
  text-align: center;
}
.current-target-header {
  font-size: 2rem;
  font-weight: 900;
}
.current-terget-text {
  max-width: 570px;
  font-size: 1rem;
  font-weight: 500;
  margin: 25px auto;
}
/* card */
.current-terget-card {
  display: flex;
  gap: 100px;
  margin-left: 70px;
}
.current-terget-cad {
  border: 1px solid rgba(13, 19, 33, 0.2);
  border-radius: 10px;
  padding: 28px;
  background-color: rgba(255, 76, 30, 0.05);
}
.current-terget-cad-1 {
  border: 1px solid rgba(13, 19, 33, 0.2);
  border-radius: 10px;
  padding: 28px;
  background-color: rgba(0, 76, 232, 0.05);
}
.current-terget-cad-2 {
  border: 1px solid rgba(13, 19, 33, 0.2);
  border-radius: 10px;
  padding: 28px;
  background-color: rgba(255, 223, 0, 0.05);
}
.html-header {
  font-size: 1.5rem;
  font-weight: bold;
}
.html-text {
  font-size: 1rem;
  font-weight: 500;
}
.learn {
  font-size: 1rem;
  font-weight: bold;
  color: black;
}

/* Next Target-section */
.next-target {
  max-width: 1440px;
  margin: 100px auto;
}

.next-card {
  display: flex;
  align-items: center;
  gap: 40px;
  border: 1px solid rgba(13, 19, 33, 0.2);
  margin-bottom: 20px;
  border-radius: 10px;
}
.next-card-right {
  margin-bottom: 30px;
}
/* need-support-section */
.need-support {
  max-width: 1440px;
  margin: 0px auto;
  text-align: center;
  background-image: url(assets/handshake.jpg);
  border-radius: 10px;
  background-size: cover;
  padding: 50px 0px;
}
.need-header {
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
}
.need-text {
  max-width: 400px;
  font-size: 1rem;
  font-weight: 500;
  margin: 25px auto;
}
input {
  padding: 20px 90px;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 600;
}
.submit {
  padding: 20px 32px;
  font-size: 1rem;
  font-weight: 700;
  border: none;
  border-radius: 8px;
}

/* footer-section */

footer {
  max-width: 1440px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px auto;
  background-color: rgba(13, 19, 33, 0.03);
}
.footer-image {
  display: flex;
  gap: 25px;
}

/*responsive media Quary */
@media screen and (max-width: 576px) {
  body {
    padding: 0px 0px;
  }
  .nav-header,
  .banner-header,
  .about-header,
  .about-card-header-text {
    font-size: 1rem;
    font-weight: 600;
  }
  .btn-primary,
  .btn-secendary,
  .btn-card {
    padding: 12px 16px;
    border-radius: 8px;
    font-size: 0.5rem;
  }
  .hero-text,
  .about-section-text {
    font-size: 1rem;
    font-weight: 500;
    color: rgba(13, 19, 33, 1);
  }
  .about-section {
    padding: 10px 12px;
    text-align: center;
  }
  .about-card,
  .about-card-2 {
    padding: 10px 12px;
    flex-direction: column;
    gap: 10px;
  }
  .iframe {
    padding: 0px;
    height: 280px;
  }
  .iframe {
    padding: 0px;
    width: 100%;
    height: 280px;
  }
  .current-terget-card {
    flex-direction: column;
    gap: 10px;
    margin-left: 0px;
  }
  .current-target,
  .next-target {
    margin: 0px auto;
  }
  input,
  .submit {
    padding: 15px 15px;
    margin-bottom: 10px;
  }
  .need-text {
    color: #fff;
  }
  .footer-text {
    font-size: 1rem;
  }
  .footer-image {
    gap: 10px;
  }
}
@media screen and (min-width: 576px) and (max-width: 992px) {
  body {
    padding: 0px 10px;
  }
  .about-card,
  .about-card-2 {
    padding: 10px 12px;
    flex-direction: column;
    gap: 10px;
  }
  .iframe {
    padding: 0px;
    width: 100%;
    height: 450px;
  }
  .current-terget-card {
    gap: 10px;
    margin-left: 0px;
  }
  .current-target,
  .next-target {
    margin: 0px auto;
  }
}
@media screen and (min-width: 992px) and (max-width: 1100px) {
  .iframe {
    padding: 0px;
    width: 100%;
    height: 550px;
  }
  .current-terget-card {
    gap: 15px;
    margin-left: 0px;
  }
}
